In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv("/content/drive/MyDrive/Base.csv")

**Null value removing**



In dataset null value given as -1 in some columns,so we removing null values with mean of that column

In [18]:
null_array=np.array([])
for i in df.columns:
    a=len(df[df[i]==-1])
    if a>0:
        null_array=np.append(null_array,i)
        print(i,a)
print(null_array)

prev_address_months_count 712920
current_address_months_count 4254
credit_risk_score 488
bank_months_count 253635
session_length_in_minutes 2015
device_distinct_emails_8w 359
['prev_address_months_count' 'current_address_months_count'
 'credit_risk_score' 'bank_months_count' 'session_length_in_minutes'
 'device_distinct_emails_8w']

In [19]:
for i in null_array:
    df[i].replace(-1,np.nan,inplace=True)

In [20]:
for i in null_array:
    df[i].fillna(df[i].median(),inplace=True)
df.head()

,fraud_bool,income,name_email_similarity,prev_address_months_count,current_address_months_count,customer_age,days_since_request,intended_balcon_amount,payment_type,zip_count_4w,...,has_other_cards,proposed_credit_limit,foreign_request,source,session_length_in_minutes,device_os,keep_alive_session,device_distinct_emails_8w,device_fraud_count,month
0,1,0.9,0.166828,34.0,88.0,50,0.020925,-1.331345,AA,769,...,0,500.0,0,INTERNET,3.888115,windows,0,1.0,0,7
1,1,0.9,0.296286,34.0,144.0,50,0.005418,-0.816224,AB,366,...,0,1500.0,0,INTERNET,31.798819,windows,0,1.0,0,7
2,1,0.9,0.044985,34.0,132.0,40,3.108549,-0.755728,AC,870,...,0,200.0,0,INTERNET,4.728705,other,0,1.0,0,7
3,1,0.9,0.159511,34.0,22.0,50,0.019079,-1.205124,AB,810,...,1,200.0,0,INTERNET,2.047904,linux,0,1.0,0,7
4,1,0.9,0.596414,34.0,218.0,50,0.004441,-0.773276,AB,890,...,0,1500.0,0,INTERNET,3.775225,macintosh,1,1.0,0,7

droping some columns due to...
1. 'prev_address_months_count'-->having null values more than 70%
2. 'foreign_request-->colums having imbalance data that is 0=974758;1=25,242
3. "device_fraud_count" --> having only one quantaty
4. "device_fraud_count" --> having imbalance data INTERNET=99%;TELEAPP=1%

In [25]:
df.drop(['prev_address_months_count','foreign_request',"device_fraud_count","source"],axis=1,inplace=True)

KeyError: ignored

**catagotical columns**

seperating categorical columns from dataset and encoding

In [27]:
categories = ['payment_type','employment_status','housing_status','device_os']
df_categorical=df[['payment_type','employment_status','housing_status','device_os']]

In [29]:
df_categorical_encode = pd.get_dummies(data = df_categorical,columns = categories,sparse = False)
df_categorical_encode.head(2)

,payment_type_AA,payment_type_AB,payment_type_AC,payment_type_AD,payment_type_AE,employment_status_CA,employment_status_CB,employment_status_CC,employment_status_CD,employment_status_CE,...,housing_status_BC,housing_status_BD,housing_status_BE,housing_status_BF,housing_status_BG,device_os_linux,device_os_macintosh,device_os_other,device_os_windows,device_os_x11
0,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

**Scalling numerical data**

using robust scaling on data because data is not in form of standerd distribution and having lots of outliers

In [41]:
numerical = ['fraud_bool','income','name_email_similarity','current_address_months_count','customer_age','days_since_request','intended_balcon_amount','zip_count_4w','velocity_6h','velocity_24h','velocity_4w','bank_branch_count_8w','date_of_birth_distinct_emails_4w','credit_risk_score','email_is_free','phone_home_valid','phone_mobile_valid','bank_months_count','has_other_cards','proposed_credit_limit','session_length_in_minutes','keep_alive_session','device_distinct_emails_8w','month']

df_numerical = df[['fraud_bool', 'income', 'name_email_similarity',
       'current_address_months_count', 'customer_age', 'days_since_request',
       'intended_balcon_amount', 'zip_count_4w', 'velocity_6h',
       'velocity_24h', 'velocity_4w', 'bank_branch_count_8w',
       'date_of_birth_distinct_emails_4w',
       'credit_risk_score', 'email_is_free',
       'phone_home_valid', 'phone_mobile_valid', 'bank_months_count',
       'has_other_cards', 'proposed_credit_limit', 'session_length_in_minutes', 'keep_alive_session', 'device_distinct_emails_8w','month']]

In [42]:
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()
numScaler_df=scaler.fit_transform(df_numerical)
#numScaler_test=scaler.fit(test_numerical)
df_numScaler=pd.DataFrame(numScaler_df)

In [49]:
df_numScaler.rename(columns={0:'fraud_bool',1:'income',2:'name_email_similarity',3:'current_address_months_count',4:'customer_age',5:'days_since_request',6:'intended_balcon_amount',7:'zip_count_4w',8:'velocity_6h',9:'velocity_24h',10:'velocity_4w',11:'bank_branch_count_8w',12:'date_of_birth_distinct_emails_4w',13:'credit_risk_score',14:'email_is_free',15:'phone_home_valid',16:'phone_mobile_valid',17:'bank_months_count',18:'has_other_cards',19:'proposed_credit_limit',20:'session_length_in_minutes',21:'keep_alive_session',22:'device_distinct_emails_8w',23:'month'},inplace=True)

In [50]:
df_numScaler.describe()

,fraud_bool,income,name_email_similarity,current_address_months_count,customer_age,days_since_request,intended_balcon_amount,zip_count_4w,velocity_6h,velocity_24h,...,email_is_free,phone_home_valid,phone_mobile_valid,bank_months_count,has_other_cards,proposed_credit_limit,session_length_in_minutes,keep_alive_session,device_distinct_emails_8w,month
count,1000000.000000,1000000.000000,1.000000e+06,1000000.000000,1000000.000000,1.000000e+06,1.000000e+06,1000000.000000,1.000000e+06,1000000.000000,...,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,0.011029,-0.074609,2.906693e-03,0.307433,0.184454,5.280379e+01,1.539494e+00,0.294945,8.140872e-02,0.009197,...,-0.470114,0.417077,-0.110324,-0.005127,0.222988,1.052837,0.423848,-0.423053,0.019030,0.072168
std,0.104438,0.580685,5.451575e-01,0.802261,0.601290,2.812202e+02,3.282072e+00,0.957500,7.090318e-01,0.685013,...,0.499106,0.493076,0.313293,0.497968,0.416251,1.625200,1.397133,0.494044,0.176669,0.552499
min,0.000000,-1.000000,-9.279724e-01,-0.481818,-1.000000,-7.929866e-01,-2.384179e+00,-1.201905,-1.293571e+00,-1.597491,...,-1.000000,0.000000,-1.000000,-0.700000,0.000000,-0.033333,-0.891757,-1.000000,-1.000000,-0.750000
25%,0.000000,-0.600000,-5.033199e-01,-0.300000,-0.500000,-4.171138e-01,-5.692516e-02,-0.351429,-4.437435e-01,-0.535679,...,-1.000000,0.000000,0.000000,-0.500000,0.000000,0.000000,-0.348274,-1.000000,0.000000,-0.500000
50%,0.000000,0.000000,5.233435e-17,0.000000,0.000000,-4.532283e-17,9.003272e-18,0.000000,-1.071418e-16,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.400000,4.966801e-01,0.700000,0.500000,5.828862e-01,9.430748e-01,0.648571,5.562565e-01,0.464321,...,0.000000,1.000000,0.000000,0.500000,0.000000,1.000000,0.651726,0.000000,0.000000,0.500000
max,1.000000,0.600000,9.575674e-01,3.409091,3.000000,4.098862e+03,1.845502e+01,5.178095,2.684932e+00,2.202920,...,0.000000,1.000000,0.000000,0.850000,1.000000,6.333333,14.063535,0.000000,1.000000,1.000000

**joining categorical columns and numericala columns**

In [51]:
scaler_encode_df=pd.concat([df_numScaler,df_categorical_encode],axis=1,join='inner')

In [52]:
scaler_encode_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 48 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   fraud_bool                        1000000 non-null  float64
 1   income                            1000000 non-null  float64
 2   name_email_similarity             1000000 non-null  float64
 3   current_address_months_count      1000000 non-null  float64
 4   customer_age                      1000000 non-null  float64
 5   days_since_request                1000000 non-null  float64
 6   intended_balcon_amount            1000000 non-null  float64
 7   zip_count_4w                      1000000 non-null  float64
 8   velocity_6h                       1000000 non-null  float64
 9   velocity_24h                      1000000 non-null  float64
 10  velocity_4w                       1000000 non-null  float64
 11  bank_branch_count_8w              1000000 non-null  float64
 12  date_of_birth_distinct_emails_4w  1000000 non-null  float64
 13  credit_risk_score                 1000000 non-null  float64
 14  email_is_free                     1000000 non-null  float64
 15  phone_home_valid                  1000000 non-null  float64
 16  phone_mobile_valid                1000000 non-null  float64
 17  bank_months_count                 1000000 non-null  float64
 18  has_other_cards                   1000000 non-null  float64
 19  proposed_credit_limit             1000000 non-null  float64
 20  session_length_in_minutes         1000000 non-null  float64
 21  keep_alive_session                1000000 non-null  float64
 22  device_distinct_emails_8w         1000000 non-null  float64
 23  month                             1000000 non-null  float64
 24  payment_type_AA                   1000000 non-null  uint8
 25  payment_type_AB                   1000000 non-null  uint8
 26  payment_type_AC                   1000000 non-null  uint8
 27  payment_type_AD                   1000000 non-null  uint8
 28  payment_type_AE                   1000000 non-null  uint8
 29  employment_status_CA              1000000 non-null  uint8
 30  employment_status_CB              1000000 non-null  uint8
 31  employment_status_CC              1000000 non-null  uint8
 32  employment_status_CD              1000000 non-null  uint8
 33  employment_status_CE              1000000 non-null  uint8
 34  employment_status_CF              1000000 non-null  uint8
 35  employment_status_CG              1000000 non-null  uint8
 36  housing_status_BA                 1000000 non-null  uint8
 37  housing_status_BB                 1000000 non-null  uint8
 38  housing_status_BC                 1000000 non-null  uint8
 39  housing_status_BD                 1000000 non-null  uint8
 40  housing_status_BE                 1000000 non-null  uint8
 41  housing_status_BF                 1000000 non-null  uint8
 42  housing_status_BG                 1000000 non-null  uint8
 43  device_os_linux                   1000000 non-null  uint8
 44  device_os_macintosh               1000000 non-null  uint8
 45  device_os_other                   1000000 non-null  uint8
 46  device_os_windows                 1000000 non-null  uint8
 47  device_os_x11                     1000000 non-null  uint8
dtypes: float64(24), uint8(24)
memory usage: 206.0 MB

In [54]:
scaler_encode_df.to_csv("05_dataset_final.csv") # coverting dataframe into csv format

KeyboardInterrupt: ignored